<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ClientSearch</servlet-name>
        <servlet-class>ClientPage.ClientSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientSearchResult</servlet-name>
        <servlet-class>ClientPage.ClientSearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginpage</servlet-name>
        <servlet-class>LogInPage.loginpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jspProjectSelection</servlet-name>
        <servlet-class>ProjectSelection.jspProjectSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectSelectionResult</servlet-name>
        <servlet-class>ProjectSelection.ProjectSelectionResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sBillableTimeLogPage</servlet-name>
        <servlet-class>BillableTimeLog.sBillableTimeLogPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NonBillableSearch</servlet-name>
        <servlet-class>NonBillableTimeLog.NonBillableSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NonBillableSearchResult</servlet-name>
        <servlet-class>NonBillableTimeLog.NonBillableSearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jspNonBillableScheduleLog</servlet-name>
        <servlet-class>NonBillableTimeLog.jspNonBillableScheduleLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jspLeaveScheduleLog</servlet-name>
        <servlet-class>Leaves.jspLeaveScheduleLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveTypeSearch</servlet-name>
        <servlet-class>Leaves.LeaveTypeSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveTypeSearchResult</servlet-name>
        <servlet-class>Leaves.LeaveTypeSearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectSearch</servlet-name>
        <servlet-class>ProjectPage.ProjectSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectSearchResult</servlet-name>
        <servlet-class>ProjectPage.ProjectSearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEditClientPage</servlet-name>
        <servlet-class>ClientPage.sEditClientPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>sLogInPageAdmin</servlet-name>
        <servlet-class>LogInPage.sLogInPageAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sMenuLink</servlet-name>
        <servlet-class>LogInPage.sMenuLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAddClientPage</servlet-name>
        <servlet-class>ClientPage.sAddClientPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUserSearch</servlet-name>
        <servlet-class>User.sUserSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUserSearchResult</servlet-name>
        <servlet-class>User.sUserSearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUserEdit</servlet-name>
        <servlet-class>User.sUserEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUserAdd</servlet-name>
        <servlet-class>User.sUserAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEditProject</servlet-name>
        <servlet-class>ProjectPage.sEditProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAddProject</servlet-name>
        <servlet-class>ProjectPage.sAddProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEditActivity</servlet-name>
        <servlet-class>ActivityPage.sEditActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sActivitySearch</servlet-name>
        <servlet-class>ActivityPage.sActivitySearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sActivitySearchResult</servlet-name>
        <servlet-class>ActivityPage.sActivitySearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAddActivity</servlet-name>
        <servlet-class>ActivityPage.sAddActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sActivityAssignmentSearch</servlet-name>
        <servlet-class>ActivityAssignment.sActivityAssignmentSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sActivityAssignmentSearchResult</servlet-name>
        <servlet-class>ActivityAssignment.sActivityAssignmentSearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sActivityAssignmentEdit</servlet-name>
        <servlet-class>ActivityAssignment.sActivityAssignmentEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sActivityAssignmentAdd</servlet-name>
        <servlet-class>ActivityAssignment.sActivityAssignmentAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEditLeavePage</servlet-name>
        <servlet-class>Leaves.sEditLeavePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAddLeavePage</servlet-name>
        <servlet-class>Leaves.sAddLeavePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEditNonBillable</servlet-name>
        <servlet-class>NonBillableTimeLog.sEditNonBillable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sReportCenter</servlet-name>
        <servlet-class>Reports.sReportCenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sTimeLogReports</servlet-name>
        <servlet-class>Reports.sTimeLogReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sReportCenter1</servlet-name>
        <servlet-class>Reports.sReportCenter1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sSchedulePerClientReport</servlet-name>
        <servlet-class>Reports.sSchedulePerClientReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sSchedulePerProjectReport</servlet-name>
        <servlet-class>Reports.sSchedulePerProjectReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sSchedulePerActivityReport</servlet-name>
        <servlet-class>Reports.sSchedulePerActivityReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sActivityPerMonthReport</servlet-name>
        <servlet-class>Reports.sActivityPerMonthReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sActivityStatusReport</servlet-name>
        <servlet-class>Reports.sActivityStatusReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sFinalizeActivity</servlet-name>
        <servlet-class>ProjectSelection.sFinalizeActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sChangePassword</servlet-name>
        <servlet-class>LogInPage.sChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEditUtilities</servlet-name>
        <servlet-class>utilities.sEditUtilities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEnterUtility</servlet-name>
        <servlet-class>utilities.sEnterUtility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUserLeaveDetails</servlet-name>
        <servlet-class>Leaves.sUserLeaveDetails</servlet-class>
    </servlet>
    <servlet><servlet-name>sAddNonBillable</servlet-name><servlet-class>NonBillableTimeLog.sAddNonBillable</servlet-class></servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogInPage.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAdminActivityLogPerClient</servlet-name>
        <servlet-class>Reports.AdminReports.sAdminActivityLogPerClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAdminActivityLogPerProject</servlet-name>
        <servlet-class>Reports.AdminReports.sAdminActivityLogPerProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAdminActivityLogPerActivity</servlet-name>
        <servlet-class>Reports.AdminReports.sAdminActivityLogPerActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAdminActivityStatus</servlet-name>
        <servlet-class>Reports.AdminReports.sAdminActivityStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sNewUpdate</servlet-name>
        <servlet-class>utilities.sNewUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEditUpdate</servlet-name>
        <servlet-class>utilities.sEditUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUpdateSearch</servlet-name>
        <servlet-class>utilities.sUpdateSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUpdateSearchResult</servlet-name>
        <servlet-class>utilities.sUpdateSearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sShowUpdate</servlet-name>
        <servlet-class>utilities.sShowUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAdminNonBillableTimeLog</servlet-name>
        <servlet-class>Reports.AdminReports.sAdminNonBillableTimeLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAdminWorkLeaveTimeLog</servlet-name>
        <servlet-class>Reports.AdminReports.sAdminWorkLeaveTimeLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAddDefaultActivity</servlet-name>
        <servlet-class>ActivityPage.sAddDefaultActivity</servlet-class>
    </servlet>
    <servlet><servlet-name>sDefaultActivitySearchResult</servlet-name><servlet-class>ActivityPage.sDefaultActivitySearchResult</servlet-class></servlet>
    <servlet>
        <servlet-name>sDefaultActivitySearch</servlet-name>
        <servlet-class>ActivityPage.sDefaultActivitySearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEditDefaultActivity</servlet-name>
        <servlet-class>ActivityPage.sEditDefaultActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAdminLeaveStatus</servlet-name>
        <servlet-class>Leaves.sAdminLeaveStatus</servlet-class>
    </servlet>
    <servlet><servlet-name>sAdminNonBillableStatus</servlet-name><servlet-class>NonBillableTimeLog.sAdminNonBillableStatus</servlet-class></servlet>
    <servlet>
        <servlet-name>sLeaveStatusReport</servlet-name>
        <servlet-class>Reports.sLeaveStatusReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sListing</servlet-name>
        <servlet-class>Reports.AdminReports.sListing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAdminActivitySummaryPerMonth</servlet-name>
        <servlet-class>Reports.AdminReports.sAdminActivitySummaryPerMonth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientSearch</servlet-name>
        <url-pattern>/ClientSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientSearchResult</servlet-name>
        <url-pattern>/ClientSearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginpage</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jspProjectSelection</servlet-name>
        <url-pattern>/jspProjectSelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectSelectionResult</servlet-name>
        <url-pattern>/ProjectSelectionResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sBillableTimeLogPage</servlet-name>
        <url-pattern>/sBillableTimeLogPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NonBillableSearch</servlet-name>
        <url-pattern>/NonBillableSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NonBillableSearchResult</servlet-name>
        <url-pattern>/NonBillableSearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jspNonBillableScheduleLog</servlet-name>
        <url-pattern>/jspNonBillableScheduleLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jspLeaveScheduleLog</servlet-name>
        <url-pattern>/jspLeaveScheduleLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveTypeSearch</servlet-name>
        <url-pattern>/LeaveTypeSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveTypeSearchResult</servlet-name>
        <url-pattern>/LeaveTypeSearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectSearch</servlet-name>
        <url-pattern>/ProjectSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectSearchResult</servlet-name>
        <url-pattern>/ProjectSearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEditClientPage</servlet-name>
        <url-pattern>/sEditClientPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sLogInPageAdmin</servlet-name>
        <url-pattern>/sLogInPageAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sMenuLink</servlet-name>
        <url-pattern>/sMenuLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAddClientPage</servlet-name>
        <url-pattern>/sAddClientPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUserSearch</servlet-name>
        <url-pattern>/sUserSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUserSearchResult</servlet-name>
        <url-pattern>/sUserSearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUserEdit</servlet-name>
        <url-pattern>/sUserEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUserAdd</servlet-name>
        <url-pattern>/sUserAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEditProject</servlet-name>
        <url-pattern>/sEditProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAddProject</servlet-name>
        <url-pattern>/sAddProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEditActivity</servlet-name>
        <url-pattern>/sEditActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sActivitySearch</servlet-name>
        <url-pattern>/sActivitySearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sActivitySearchResult</servlet-name>
        <url-pattern>/sActivitySearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAddActivity</servlet-name>
        <url-pattern>/sAddActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sActivityAssignmentSearch</servlet-name>
        <url-pattern>/sActivityAssignmentSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sActivityAssignmentSearchResult</servlet-name>
        <url-pattern>/sActivityAssignmentSearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sActivityAssignmentEdit</servlet-name>
        <url-pattern>/sActivityAssignmentEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>sActivityAssignmentAdd</servlet-name><url-pattern>/sActivityAssignmentAdd</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEditLeavePage</servlet-name>
        <url-pattern>/sEditLeavePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAddLeavePage</servlet-name>
        <url-pattern>/sAddLeavePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>sEditNonBillable</servlet-name><url-pattern>/sEditNonBillable</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>sReportCenter</servlet-name>
        <url-pattern>/sReportCenter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sTimeLogReports</servlet-name>
        <url-pattern>/sTimeLogReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sReportCenter1</servlet-name>
        <url-pattern>/sReportCenter1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sSchedulePerClientReport</servlet-name>
        <url-pattern>/sSchedulePerClientReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sSchedulePerProjectReport</servlet-name>
        <url-pattern>/sSchedulePerProjectReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sSchedulePerActivityReport</servlet-name>
        <url-pattern>/sSchedulePerActivityReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sActivityPerMonthReport</servlet-name>
        <url-pattern>/sActivityPerMonthReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sActivityStatusReport</servlet-name>
        <url-pattern>/sActivityStatusReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sFinalizeActivity</servlet-name>
        <url-pattern>/sFinalizeActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sChangePassword</servlet-name>
        <url-pattern>/sChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEditUtilities</servlet-name>
        <url-pattern>/sEditUtilities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEnterUtility</servlet-name>
        <url-pattern>/sEnterUtility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUserLeaveDetails</servlet-name>
        <url-pattern>/sUserLeaveDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAddNonBillable</servlet-name>
        <url-pattern>/sAddNonBillable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminActivityLogPerClient</servlet-name>
        <url-pattern>/sAdminActivityLogPerClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminActivityLogPerProject</servlet-name>
        <url-pattern>/sAdminActivityLogPerProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminActivityLogPerActivity</servlet-name>
        <url-pattern>/sAdminActivityLogPerActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminActivityStatus</servlet-name>
        <url-pattern>/sAdminActivityStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sNewUpdate</servlet-name>
        <url-pattern>/sNewUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEditUpdate</servlet-name>
        <url-pattern>/sEditUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUpdateSearch</servlet-name>
        <url-pattern>/sUpdateSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUpdateSearchResult</servlet-name>
        <url-pattern>/sUpdateSearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sShowUpdate</servlet-name>
        <url-pattern>/sShowUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminNonBillableTimeLog</servlet-name>
        <url-pattern>/sAdminNonBillableTimeLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminWorkLeaveTimeLog</servlet-name>
        <url-pattern>/sAdminWorkLeaveTimeLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAddDefaultActivity</servlet-name>
        <url-pattern>/sAddDefaultActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDefaultActivitySearchResult</servlet-name>
        <url-pattern>/sDefaultActivitySearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDefaultActivitySearch</servlet-name>
        <url-pattern>/sDefaultActivitySearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEditDefaultActivity</servlet-name>
        <url-pattern>/sEditDefaultActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminLeaveStatus</servlet-name>
        <url-pattern>/sAdminLeaveStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminNonBillableStatus</servlet-name>
        <url-pattern>/sAdminNonBillableStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sLeaveStatusReport</servlet-name>
        <url-pattern>/sLeaveStatusReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sListing</servlet-name>
        <url-pattern>/sListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAdminActivitySummaryPerMonth</servlet-name>
        <url-pattern>/sAdminActivitySummaryPerMonth</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
