/* CSS Document */
div.title{
	position:absolute;
	width:721px;
	top:8px;
	left:2px;
	font:Verdana;
	font-size:18px;
	color:#666666;
	font-weight: bold;
}

div.subtitle{
	position:absolute;
	width:721px;
	top:38px;
	left:3px;
	font:Verdana;
	font-size:10px;
	color:#999999;
}

div.subtitle hr {
	height:2px;
	color:#FF9900;
	width:100%;
}

div.subtitle li{
	list-style : none;
}

div.criteria-listing {
	position:absolute;
	width: 722px;
	top: 68px;
	font: Verdana;
	font-size: 12px;
	left: 1px;
	height: 60px;

}

div.criteria-filter {
	position:absolute;
	width: 722px;
	top: 245px;
	font: Verdana;
	font-size: 12px;
	left: 1px;
	height: 32px;

}
div.table-listing {
	position:absolute;
	top:286px;
	width:722px;
	font:Verdana;
	font-size:14px;
	left: 0px;
}

tr.table-header{
	background-color:#FF9900;
	color:#FFFFFF;
	font:Verdana;
	font-weight:bold;
	font-size:12px;
}

.caption{
	font:verdana;
	color:#999999;
	font-size:9px;
}
